
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 what" id="main_panel">
      <h4>You're lovely comment is below...</h4>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main_panel_body">
        <p><%= @comment %></p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
