<div class="container">

  <div class="row">
    <h1>Fill out this form.</h1>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="" action="/hello/" method="post">
        <div class="form-group">
          <label for="greeting">A Greeting:</label>
          <input type="text" class="form-control" name="greeting">
        </div>
        <div class="form-group">
          <label for="name">Your name:</label>
          <input type="text" class="form-control" name="name">
        </div>
        <input type="submit" class="btn btn-default">
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
