<% unless @name.to_s.empty? %>
<h3>Hello <%= @name %>!</h3>
<% end %>

<% if @message %>
<h6><%= @message %></h6>
<% end %>

<form action="/names2/" method="post">
  <input type="text" name="name" value="<%= @name %>">
  <input type="submit">
</form>

<ul>
  <% @names.each do |x| %>
  <li><%= x %></li>
  <% end %>
</ul>
