body {
  background-color: #f9ddff;
  font-family: Calibri;
}

#main_panel_body {
  margin-top: 20px;
}

#main_panel {
  background-color: #f9f9c7;
  border-radius: 10px;
}

.main_panel_body {
  background-color: #f9f9c7;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 38px;
}
